@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
.section{
    width: 100%;
    height: 100vh;
    background: url(https://thinkpodagency.com/wp-content/uploads/2015/10/blog-signup-background.jpg);
    background-size: cover;
    margin: 0;
    padding-top: 60px;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 1px;
}
.section .container{
   
    margin: 10px auto;
    text-align: left;
    width: 325px;
    height: 500px;
    background: #fff;
    border-radius: 20px;
    box-shadow: lightblue;
  
    /* background-image: url(https://d1whtlypfis84e.cloudfront.net/guides/wp-content/uploads/2020/02/08090135/labour-day-1024x684.png) ;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 170px; */
    
    
   

}
h1{
    text-align: center;
    color: black;
}
Button{
    letter-spacing: 1px;
    padding: 50px;
}