@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
.section{
    width: 100%;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1544609401-4aff5cdf632e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    margin: 0;
    padding-top: 60px;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 1px;
}
.section .container{
    
    margin: 10px auto;
    text-align: left;
    width: 300px;
    height: 400px;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    background-image: url(https://d1whtlypfis84e.cloudfront.net/guides/wp-content/uploads/2020/02/08090135/labour-day-1024x684.png) ;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 170px;
    
    
   

}
.container .login_form
{
    position: relative;
    width: 100%;
    height: 350px;
     margin-bottom: 10px;
    box-sizing: border-box;
    padding: 30px;
}

.container .login_form h1{
    color: #262626;
    text-align: center;
   

 }

 .container .login_form Textfield{
    display: block;
    width: 100%;
   
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #ccc;
   
 
 }
 /* .container .login_form Button{
     margin: 10px;
     
 } */
